---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fdfdfa;
$header-bg-color: #5c7598;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import '{{ site.theme }}';

body {
	height:100%;
	background-color: #f7f0c7;
}

i,
a {
	&.small { font-size: 2em; }
	&.medium { font-size: 3em; }
	&.large { font-size: 5em; }
}

.container {
	//position: relative;
	//min-height: 100%;
}

img {
	&.main-picture {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		transform: rotate(30deg);
	}
}

h1,
h2,
h3,
h4,
h5 {
	&.text-right {
		text-align: right;
	}
}

.page-header {
	background-color: $header-bg-color;
	background-image: none;
}

.social-media {
	a {
		padding: 8px;
	}

	i {
		color: #fdfdfa;
	}
}

.main-content {
	h1,
	h3{
		color: $header-bg-color;
	}
}


footer {
	color: $header-bg-color;
	text-align: center;

	i {
		color: $header-bg-color !important;
	}
}

.centered {
	text-align: center;
	color: #5c7598;
}

.blog .left-col {
	position: fixed;
	height: 100%;
}

.blog .mid-col {
	padding: 5rem 6rem;
	position: absolute;
	right: 0;
	min-height: 100%;
	width: 68%;
}

.blog ul {
	list-style: none;

	li {
		&.post {
			padding-bottom: 21px;
			border-bottom: solid 1px #dadadb;

			a.read-more {
				color: #abb7c8;
			}

			.post-info {
				float: right;
				padding-top: 16px;
				font-size: 12px;
				color: #abb7c8;

				.post-date {
					display: block;
				}

				.post-category {
					color: #abb7c8;
				}
			}
		}
	}
}

@media screen and (max-width: 42em) { .blog .left-col { display: none; } }
@media screen and (max-width: 42em) { .blog .mid-col { padding: 16px; width: 100%; } }
@media screen and (max-width: 42em) { .blog ul li.post .post-info{ display: none; } }
@media screen and (max-width: 42em) { section.blog-history ul { padding-left: 0; } }
