---
---
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #606c71;
$header-bg-color: #ffffff;
$header-bg-color-secondary: #ffffff !default;

// Text
$section-headings-color: #606c71 !default;
$body-text-color: #606c71 !default;
$body-link-color: #606c71 !default;
$blockquote-text-color: #1e6bb8 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #dce6f0 !default;

@import '{{ site.theme }}';

body {
	height:100%;
	margin: 0;
}

.page-header {
	margin-left: auto;
  margin-right: auto;
	border-bottom: solid 1px #dce6f0;
  padding: 2rem 3rem;
	max-width: 1280px;
	margin-bottom: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 500;
	font-size: x-large;

	&:hover {
		text-decoration: none;
	}
}

.main-content, .blog {
	padding: 0;
	max-width: 1280px;
	margin-left: auto;
  margin-right: auto;
	margin-bottom: 5rem;
}

i,
a {
	&.small { font-size: 2em; }
	&.medium { font-size: 3em; }
	&.large { font-size: 5em; }
}

.social-media {
	a {
		padding: 6px;
	}
}

footer {
	text-align: center;
	max-width: 1280px;
	margin-left: auto;
  margin-right: auto;
}

.blog ul {
	list-style: none;
	padding: 0;

	li {
		&.post {
			padding-bottom: 21px;
			border-bottom: solid 1px #dadadb;

			a.read-more {
				color: #abb7c8;
			}

			.post-info {
				float: right;
				padding-top: 16px;
				font-size: 12px;
				color: #abb7c8;

				.post-date {
					display: block;
				}

				.post-category {
					color: #abb7c8;
				}
			}
		}
	}
}

@media screen and (max-width: 42em) { .blog .left-col { display: none; } }
@media screen and (max-width: 42em) { .blog .mid-col { padding: 16px; width: 100%; } }
@media screen and (max-width: 42em) { .blog ul li.post .post-info{ display: none; } }
@media screen and (max-width: 42em) { section.blog-history ul { padding-left: 0; } }
