---
layout: blog
---

<ul>
	{% for post in site.posts %}
		{% assign currentdate = post.date | date: "%Y" %}
		{% if currentdate != date %}
				<h1 class="text-right" id="y{{currentdate}}">{{ currentdate }}</h1>
			{% assign date = currentdate %}
		{% endif %}

		<li class="post">
			<div class="post-info">
					<span class="post-date">
						<i class="fi-calendar"></i>
						{{ post.date | date_to_string }}
					</span>
					<span>
						<i class="fi-pricetag-multiple"></i>

						{% for category in post.categories %}
							<a class="post-category" href="/categories/{{ category }}">{{ category }}</a>
						{% endfor %}
					</span>

			</div>
			<h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

			<div class="post-excerpt">
				{{ post.excerpt }}
			</div>

			<a class="read-more" href="{{ post.url }}">Read more</a>
		</li>
	{% endfor %}
</ul>